.home {
  padding-top: 20px;
  width: 100%;
}

.home-header {
  display: flex;
  height: 150px;
  color: white;
  margin-bottom: 30px;
}

.home-header-image {
  height: 100%;
  width: 150px;
  object-fit: cover;
  border-radius: 10px;
}

.home-header__info {
  margin-left: 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.home-header__info > p {
  font-size: 0.8rem;
  margin: -5px 5px;
}

.home-header__info > h2 {
  font-size: 5rem;
}
